
body{
	padding: 0;
	margin:0;

	font-family: "PT Sans", "Arial" sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color:#333333;
	text-transform: uppercase;
	background-color: #ffffff;
}

.inner-page{
	background-color: #ffffff;
	color: #6d6d6d;
}

a{
	text-decoration: none;
}

.main-header,
.main-page,
.main-footer,
.criterias,
.hotels{
	width: 1200px;
	background-color: #ffffff;
	box-shadow: 0 4px 4px #f5f6f7;
	margin: 0 auto;
	padding:0;
}

.main-navigation{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	color:#000000;
	background-color: #ffffff;
}

.site-navigation,
.reason-item-examples,
.reasons-list,
.footer-button{
	list-style: none;
}

.site-navigation a{
	color:#000000;
}

.site-navigation-current{
	color: #444444;
}

.site-navigation-current:hover{
	color: #81b3d2;
}

.site-navigation-current:focus{
	color: #b2b2b2;
}
.site-navigation-current:active{
	color: #766357;
}

.main-welcome{
	width: 100%;
	height: 722px;

}

.criterias{
	background-color: #345568;
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	width: 1200px;
	height: 217px;
}

.criterias fieldset{
	border: none;
}

.criterias ul{
	list-style: none;
	line-height: 21px;
	font-size: 14px;
	color: #ffffff;
}

.criterias legend{
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.infostructure-cover{
	display: flex;

}

.filter-input-checkbox+label{
	opacity: 0.14;
}

.filter-button{
	width: 139px;
	height: 38px;
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	border: 2px solid #f8f7f6;
}

.hotels b{
	font-size: 21px;
	color: #000000;
	line-height: 26px;
	font-weight: bold;
}

.sorting-list{
	list-style: none;
	font-size: 12px;
	line-height: 18px;
	color: #111111;
}

.sorting-list:first-child:active{
	color: #b3d1e4;
}

.sorting-list{
	opacity: 0.3;
}

.sorting-list:not(:first-child){
	border-bottom: 1px dotted #81b3d2;
}

.pagination-list,
.hotels-list{
	list-style: none;
}

.hotels-list h3{
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.hotels-list h3:hover{
	color: #503e33;
}

.hotels-list h3:focus,
.hotels-list h3:active{
	color: #cacaca;
}

.hotels-list a{
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.moreinfo{
	background-color: #81b3d2;
}

.moreinfo:hover{
	background-color: #669ec0;
}

.moreinfo:active,
.moreinfo:focus{
	background-color: #5496bd;
	opacity: 0.3;
}

.booking{
	background-color: #766357;
}

.booking:hover{
	background-color: #604e43;
}

.booking:active,
.booking:focus{
	background-color: #503e33;
	opacity: 0.3;
}

.main-welcome{
	background-color: #2b576b;
	background-image: url("../img/bgover1.png"), url("../img/background1.jpg");
	background-position: bottom, 0 -56px;
	background-repeat: no-repeat, no-repeat;	
}

.main-welcome h1{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.description{
	font-weight: bold;
	color: #90a8c2;
	line-height: 26px;
	font-size: 14px;
}

.city-description{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.city-description+p{
	font-size: 14px;
	line-height: 26px;
}

.reason-item{
	text-align: center;
}

.reason-item:nth-child(2), 
.reason-item:first-child{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason-item b,
.reason-item-examples b{
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reasons-item:nth-child(2) b, 
.reasons-item:first-child b{
	color:#ffffff;
}

.reason-item-examples{
	color: #333333;
	background-color: #ffffff;
}

.reason-item:nth-child(3),
.reason-item:nth-child(4),
.reason-item:nth-child(5){
	background-color: #eeeeee;
}

.reason-item-accomodation{
	background-image: url("../img/svg/icon1.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.reason-item-food{
	background-image: url("../img/svg/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.reason-item-souvenir{
	background-image: url("../img/svg/icon2.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.main-interests{
	text-align: center;
	background-color: #ffffff;

}
.interests-title{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
}

.interests-title+p{
	font-size: 14px;
	line-height: 24px;
}

.button{
	font:inherit;
	text-align: center;
	color:#ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	background-color: #f2f2f2;
}

.hotel-search{
	background-color: #766357;
}

.hotel-search:hover{
	background-color: #604e43;
}

.hotel-search:active,
.hetel-search:focus{
	background-color: #503e33;
	color: #81746d;
}

.search{
	font: inherit;
	color: #000000;
}

.search label{
	color: #000000;
}

.search input{
	background-color: #f2f2f2;
}

.search input:hover{
	background-color: #ebebeb;
}

.search input:active,
.search input:focus{
	background-color: #ffffff;
}

.search-date-calendar{
	background-image: url("../img/svg/calendar.svg");
}

.search-button{
	background-color: #81b3d2;
}

.search-button:hover{
	background-color: #669ec0;
}

.search-button:active,
.search-button:focus{
	background-color: #5496bd;
}

.search-number-item button{
	color: #a9a9a9;
}

.search-number-item button:hover{
	color: #000000;
}

.search-number-item button:active,
.search-number-item button:focus{
	color: #81b3d2;
}

.social-button{
	background-color: #81b3d2;
}

.social-button:hover{
	background-color: #669ec0;
}

.social-button:active,
.social-button:focus{
	background-color: #5496bd;
}

.social-twitter{
	background-image: : url(../img/svg/twitter.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.social-facebook{
	background-image: url(../img/svg/fb-icon.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.social-youtube{
	background-image: url(../img/svg/youtube.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-footer img{
	width: 115px;
	height: 41px;
	color: #3c3839;
}

.main-footer img:hover{
	color: #81b3d2;
}

.main-footer img:active,
.main-footer img:focus{
	color: #d0cfcf;
}

.main-footer b{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.main-footer span{
	font-weight: regular;
	font-size: 14px;
	line-height: 26px;
}
<!--сетки-->
body{
	width: 1200px;
	min-height: 2762px;
	margin: 0 auto;
}

.main-header{
	min-height: 58px;
}

.main-navigation{
	min-height: 58px;
	display: flex;
	width: 100%;	
	align-items: flex-start;
}

.reasons-list,
.reason-item-examples,
.site-navigation{
	margin: 0;
	padding: 0;
}

.site-navigation{
	display: flex;
	width:100%;
	align-items: flex-start;
	justify-content: space-between;	
}

.reasons-list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.reason-item{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}

.reason-item-cover{
	width: 400px;
}

.reason-item:nth-child(3),
.reason-item:nth-child(4),
.reason-item:last-child{
	width: 400px;
	height: 254px;
}

.reason-item-examples{
	display: flex;
	width: 100%;
	height: 290px;
	justify-content: space-between;
	align-items: center;
}

.main-footer{
	min-height: 120px;
	display: flex;
	justify-content: space-between;
}

.hotel1-item{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
}






